body{
    text-align: center;
    /* margin-top: 200px; */
}
#app2{
    margin: 0 auto;
    padding-top: 50px;
    border: 1px solid gray;
    border-radius: 100px;
    height: 400px;
    width: 80%;
    background: rgb(180, 219, 216);
}
h1{

  font-size: 40px;
    font-family:'lura'; 
    font-weight: lighter;
}
button{
    margin: 50px;
    margin-top: 100px;
    width: 150px;
    height: 60px;
    font-size: 40px;
    font-family:'lura'; 
    font-weight: lighter;
    background: rgb(105, 102, 102);
    color: white;
    
    border-radius: 10px;

}
button:hover{
    box-shadow: 0 0 20px 0 rgb(228, 245, 129) ;
    color: white;
    background: darkgrey;
    width: 155px;
    height: 70px;
}